<%- include('../partials/header') %>
<section id="show-page">
    <div>Airline: </div>
    <div><%= flight.airline %></div>
    <div>Airport: </div>
    <div><%= flight.airport %></div>
    <div>Flight No.: </div>
    <div><%= flight.flightNo %></div>
    <div>Departing: </div>
    <div><%= flight.departs %></div>
</section>

<br><br><h2>Destinations</h2>
  <form id="destination-location" method="POST"
    action="/flights/<%= flight._id %>/destinations">
    <label>Destination:<br>
      <select name="airport" >
        <option value="AUS">AUS</optionn>
        <option value="DFW">DFW</optionn>
        <option value="DEN">DEN</optionn>
        <option value="LAX">LAX</optionn>
        <option value="SAN">SAN</optionn>
      </select>
    </label><br>
    </select>
    <label>Arrival Date:
      <input type="datetime-local" name="arrival">
    </label><br>
    <input type="submit" value="Add arrival">
  </form>




 
    <table>
      <thead>
        <tr>
          <th>Airport</th>
          <th>Arrival</th>
        </tr>
      </thead>
      <tbody>
        <% flight.destinations.forEach(function(f) { %>
          <tr>
            <td><%= f.airport %></td>
            <td><%= f.arrival %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
    <a href="/flights/<%= flight._id %>/tickets/new"> New Ticket </a><br>
    <table>
      <tr>Price</tr>
      <tr>Seat</tr>
      <% tickets.forEach(function(t) { %>
        <td>$<%= t.price %></td>
        <td><%= t.seat %></td>
      <% }); %>
    </table>
    

<%- include('../partials/footer') %>